<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body >
<main  class="container">
  <div class="col s12">
    <form action="/auth/register" method="post">
      <div class="input-field s2">
        <label>Username:</label>
        <input type="text" name="username"/>
      </div>
      <div class="input-field s2">
        <label>Password:</label>
        <input type="password" name="password"/>
      </div>
      <div class="input-field s2">
      <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
      </button>
      </div>
    </form>
  </div>
</main>
</body>
</html>